body {
    background-color: #FEE1C7;
}

.jumbotron {
    background-color: #B5A886
}

aside {
    width: 300px;
    float: left;
    margin-left: 20px;
    text-align: left;
}

.search-Btn {
    background-color: #FA7E61;
    width: 200px;
    border-radius: 5px; 
    margin-top: 10px;
}

.content {
    display: inline-block;
    margin-left: 100px;
}


.forecast-card {
    background-color: #B5A886;
    display: inline;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
}

.display-city {
    width: fit-content;
}

.temps {
    font-weight: bold;
}